.vscode/
/vendor/
.env
/storage/cache/
/skills/
*.todo
/docs/*
!/docs/*.md
!/docs/performance/
/docs/performance/*
!/docs/performance/*.md
!/docs/architecture/
/docs/architecture/*
!/docs/architecture/*.md
